.genres-container {
    background-color: #5F745E;
    position: relative;
    text-align: center;
    height: 55vh;
    padding: 2vh 0;



    .genres {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-items: center;
        padding: 2%;

        .genre {
            width: 60%;
            height: 65%;
            border-radius: 10px;
            display: flex;
            justify-content: center;            
            align-items: center;
            font-size: 0.7em;
            position: relative;
            background-color: $yellow;
            z-index:1; 


        .genres-header {
            position: absolute;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            h1 {
                color: black;
                z-index:2; 
            }
        }
        }
    }
}