.more-container {

    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .button-content-container {
        display: flex;
        justify-content: center;
        align-items: center;
        image {
            display: block;
        }
    }
}