nav {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    height: 20vh;

    .part {
        padding-top: 30px;
    }

    .left {
        flex: 0.5;
        padding-top: 10px;
        a {
            .logo-container {
                height: 100px;
                width: 100px;

                img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }
        }
    }

    .middle {
        display: flex;
        justify-content: space-evenly;
        flex: 3;
        list-style: none;
        padding-top: 30px;
    }

    .right {
        flex: 1;
        display: flex;
        justify-content: space-between;
    }
}

.black {
    color: black;
}

.beige {
    color: rgb(255, 233, 194);
}