nav {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    height: 20vh;

    ul {
        display: flex;
        justify-content: space-evenly;
        flex: 4;
        list-style: none;
        padding-top: 30px;
    }

    #logo-container {
        flex: 3;
        padding-top: 5px;
    }
}

.black {
    color: black;
}

.beige {
    color: rgb(255, 233, 194);
}