.profile-container {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;

  .nav-and-content {
    background-color: rgba($light-green-background, 0.2);
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
    min-height: 60vh;


    .profile-nav {

      flex: 2;
      background-color: rgba($light-green-background, 0.6);
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;

      height: 70vh;

      display: flex;
      flex-direction: column;
      justify-content: space-around;

      overflow: hidden;

      .option {
        outline: none;
        border: none;
        background: none;
        height: 100%;
        transition-duration: 0.5s;
        color: $dark-green;
        font-size: 1.4em;
        font-weight: bold;
      }

      .option:hover {
        transition: 1s;
        background-color: rgba($dark-green, 0.6);
        color: $beige-btn;
      }
    }

    .single-option {
      flex: 8;
      margin-top: 2vh;

        .edit-mode-button {
            background: rgba(#bbb, 0.4);
            border: none;
            cursor: pointer;
            border-radius: 10px;
            margin: 5vh 0 5vh 0;
            padding: 10px;
        }
        .red {
            background: rgba(241, 65, 65, 0.4);

        }
    }
    }

    .users {
      display: flex;
      justify-content: space-around;

      h2 {
        margin: 0 5vh;
      }

      .friends-list {
        display: flex;
        flex-direction: column;
        button {

          background: rgba(#bbb, 0.4);
          border: none;
          cursor: pointer;
          border-radius: 10px;
          margin: 10px 0;
          .single-friend {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 5vh;
            width: 100%;
          }
        }

      }

      .promote-user {

        width: 30vw;

        form {
          margin-top: 3vh;
          display: flex;
          flex-direction: column;
        }
        label {
          margin: 1vh;
        }

        input {
          color: #eeeeee;
          background: rgba(#bbb, 0.2);
          border: none;
          outline: none;
          height: 4vh;
          padding: 1vh;
          margin-bottom: 5vh;
        }

        .queried-user {
          display: grid;
          grid-template-columns: 3fr 1fr;
          justify-items: center;
          align-items: center;
          background: rgba(#999, 0.6);
          height: 10vh;
          margin: 10px 0;

          .queried-user-name {
            text-align: center;
            h5 {
              font-size: 0.7em;
              font-weight: 200;
            }
            h2 {
              font-weight: 600;
            }
          }

          .user-to-promote-button {
            width: 50%;
            height: 80%;
            background: rgba(#222, 0.6);
            border: none;
            cursor: pointer;
            color: #ccc;
          }
        }

      }
    }

  .info {
    form {
      width: 30%;
      margin-inline: auto;
      margin-top: 2vh;
      display: flex;
      flex-direction: column;
    }
    label {
      margin: 0.2vh;
    }

    input {
      color: #eeeeee;
      background: rgba(#bbb, 0.2);
      border: none;
      outline: none;
      height: 4vh;
      padding: 1vh;
      margin-bottom: 2vh;
    }
    button {
      background: rgba(51, 232, 51, 0.2);
      border: none;
      cursor: pointer;
      border-radius: 10px;
      margin-top: 2vh;
      padding: 10px;
    }


  }

    .info-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 40vh;
      width: 50%;
      margin: 0 auto;
      text-align: left;
      .single-info {
        font-size: 1.4em;
        display: flex;
        justify-content: space-between;
        margin-top: 5vh;
        p {
          display: inline;
          color: gray;
        }
      }
    }

    .stats-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 90%;
      width: 50%;
      margin: 0 auto;
      text-align: left;
      .single-stat {
        font-size: 1.4em;
        display: flex;
        justify-content: space-between;
        margin-top: 5vh;
        p {
          display: inline;
          color: gray;
        }
      }
    }
}
