.register {
  max-width: 800px;
  margin: 20vh auto;
  padding: 10%;
  text-align: center;
  position: relative;
  background-color: $light-purple-transparent-background;

}
.register label {
  text-align: left;
  display: block;
  color: $beige;
}
.register h1 {
  font-size: 2em;
  color: $beige;
  margin-bottom: 30px;
}
.register input, .register textarea, .register select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.register input {
  background-color: $beige;
  border: none;
  border-radius: 5px;
  height: 5vh;
  margin: 5vh auto;
}
.register input:focus {
  outline: none;
}
.register button {
  background: $beige;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  width: 6vw;
}