.bottom-shape {
        position: absolute;
        left: 0px;
        bottom: -55vh;
        width: 40%;
        height: auto;
        z-index: -1;
}

.scott {
    position: absolute;
    left: 15px;
    bottom: -5vh;
    height: 80%;
    width: auto;
}
