@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rufina&display=swap');
$dark-purple-background: #2C0E37;
$light-purple-background: #C4C4C4;
$light-purple-transparent-background: rgba(#C4C4C4, 0.2);
$beige: #DAA89B;
$dark-beige: #a9957b;
$yellow: rgb(252, 241, 207);
$dark-grey: rgba(#222, 0.9);
$light-grey: rgba(#999, 0.9);
$red: #d26666;


@import "top";
@import "navbar";
@import "shape-top";
@import "shape-bottom";
@import "main";
@import "propositions";
@import "genres";
@import "more";
@import "login_register_logout";
@import "profile";
@import "search";
@import "single_book";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Rufina', serif;
}

body {
    background-color: #344130;
}

a {
    text-decoration: none;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}