@import url("https://fonts.googleapis.com/css2?family=Rufina&display=swap");
.top {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

nav {
  width: 95%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  height: 20vh;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  flex: 4;
  list-style: none;
  padding-top: 30px;
}
nav #logo-container {
  flex: 3;
  padding-top: 5px;
}

.black {
  color: black;
}

.beige {
  color: #ffe9c2;
}

.top-shape-container {
  position: relative;
  width: 100%;
}
.top-shape-container img {
  position: absolute;
  right: 0px;
  top: -200px;
  width: 40%;
  height: auto;
  z-index: -1;
}

.bottom-shape {
  position: absolute;
  left: 0px;
  bottom: -55vh;
  width: 40%;
  height: auto;
  z-index: -1;
}

.scott {
  position: absolute;
  left: 15px;
  bottom: -5vh;
  height: 80%;
  width: auto;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35vh;
}
.main-container h1 {
  font-size: 4.5em;
  font-weight: lighter;
}

.propositions-container {
  height: 45vh;
  position: relative;
  width: 100vw;
  display: grid;
  grid-template-columns: 2fr 1fr 3fr 1fr;
  grid-template-rows: 1fr 6fr;
  text-align: center;
  background-color: rgba(196, 196, 196, 0.2);
  z-index: -1;
}
.propositions-container h1 {
  grid-column: 3/4;
  padding-top: 3vh;
}
.propositions-container .propositions {
  height: 95%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  grid-column: 3/4;
  grid-row: 2/3;
}

.genres-container {
  background-color: #5F745E;
  position: relative;
  text-align: center;
  height: 55vh;
  padding: 2vh 0;
}
.genres-container .genres {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 2%;
}
.genres-container .genres .genre {
  width: 60%;
  height: 65%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  position: relative;
  background-color: #fcf1cf;
  z-index: 1;
}
.genres-container .genres .genre .genres-header {
  position: absolute;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.genres-container .genres .genre .genres-header h1 {
  color: black;
  z-index: 2;
}

.more-container {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more-container .button-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.more-container .button-content-container image {
  display: block;
}

.register {
  max-width: 800px;
  margin: 20vh auto;
  padding: 10%;
  text-align: center;
  position: relative;
  background-color: rgba(196, 196, 196, 0.2);
}

.register label {
  text-align: left;
  display: block;
  color: #DAA89B;
}

.register h1 {
  font-size: 2em;
  color: #DAA89B;
  margin-bottom: 30px;
}

.register input, .register textarea, .register select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.register input {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  height: 5vh;
  margin: 5vh auto;
}

.register input:focus {
  outline: none;
}

.register button {
  background: #DAA89B;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  width: 6vw;
}

.login {
  max-width: 800px;
  margin: 20vh auto;
  padding: 10%;
  text-align: center;
  position: relative;
  background-color: rgba(196, 196, 196, 0.2);
}

.login label {
  text-align: left;
  display: block;
  color: #DAA89B;
}

.login h1 {
  font-size: 2em;
  color: #DAA89B;
  margin-bottom: 30px;
}

.login input, .login textarea, .login select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.login input {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  height: 5vh;
  margin: 5vh auto;
}

.login input:focus {
  outline: none;
}

.login button {
  background: #DAA89B;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  width: 6vw;
}

.profile-container {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.profile-container .nav-and-content {
  background-color: rgba(196, 196, 196, 0.2);
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
  min-height: 70vh;
}
.profile-container .nav-and-content .profile-nav {
  flex: 2;
  background-color: #C4C4C4;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}
.profile-container .nav-and-content .profile-nav .option {
  outline: none;
  border: none;
  background: none;
  height: 100%;
  transition-duration: 0.5s;
  color: #4b0747;
  font-size: 1.4em;
  font-weight: bold;
}
.profile-container .nav-and-content .profile-nav .option:hover {
  transition: 1s;
  background-color: black;
  color: #eba0e6;
}
.profile-container .nav-and-content .single-option {
  flex: 8;
  margin-top: 2vh;
}
.profile-container .nav-and-content .friends {
  display: flex;
  justify-content: space-around;
}
.profile-container .nav-and-content .friends h2 {
  margin: 0 5vh;
}
.profile-container .nav-and-content .friends .friends-list {
  display: flex;
  flex-direction: column;
}
.profile-container .nav-and-content .friends .friends-list button {
  background: rgba(187, 187, 187, 0.4);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px 0;
}
.profile-container .nav-and-content .friends .friends-list button .single-friend {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  width: 100%;
}
.profile-container .nav-and-content .friends .add-friend form {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
}
.profile-container .nav-and-content .friends .add-friend label {
  margin: 1vh;
}
.profile-container .nav-and-content .friends .add-friend input {
  color: #eeeeee;
  background: rgba(187, 187, 187, 0.2);
  border: none;
  outline: none;
  height: 4vh;
  padding: 1vh;
  margin-bottom: 5vh;
}
.profile-container .nav-and-content .friends .add-friend .queried-friend {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  background: rgba(153, 153, 153, 0.6);
  height: 5vh;
  margin: 10px 0;
}
.profile-container .nav-and-content .friends .add-friend .queried-friend .friend-to-add-button {
  width: 50%;
  height: 80%;
  background: rgba(34, 34, 34, 0.6);
  border: none;
  cursor: pointer;
  color: #ccc;
}
.profile-container .nav-and-content .info-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
  margin: 0 auto;
  text-align: left;
}
.profile-container .nav-and-content .info-list .single-info {
  font-size: 1.4em;
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
}
.profile-container .nav-and-content .info-list .single-info p {
  display: inline;
  color: gray;
}
.profile-container .nav-and-content .stats-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  width: 50%;
  margin: 0 auto;
  text-align: left;
}
.profile-container .nav-and-content .stats-list .single-stat {
  font-size: 1.4em;
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
}
.profile-container .nav-and-content .stats-list .single-stat p {
  display: inline;
  color: gray;
}

.books-container {
  width: 100vw;
}
.books-container .search-container {
  padding: 10vh 15vw 12vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.books-container .search-container .search-bar {
  width: 50vw;
}
.books-container .search-container .search-bar input {
  position: relative;
  height: 8vh;
  width: 100%;
  top: 5vh;
  margin-bottom: 8vh;
  background: rgba(196, 196, 196, 0.4);
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  border: none;
  outline: none;
  z-index: 3;
  font-size: 2em;
  padding: 1vh 1vw;
}
.books-container .search-container .search-bar input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.books-container .search-container .search-filter {
  position: relative;
  height: 8vh;
  width: 100%;
  margin-bottom: 10vh;
  top: 5vh;
  padding-top: 2vh;
  background: #fcefc3;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 1;
}
.books-container .search-container .search-filter .filter {
  margin: 0 auto;
}
.books-container .search-container .search-filter .filter h2 {
  color: black;
}
.books-container .search-container .search-filter .filter .single-filter {
  display: none;
}
.books-container .search-container .search-filter .filter:hover .single-filter {
  display: block;
  color: #000;
  background: #fcefc3;
  font-size: 0.8em;
  padding: 1vh 0;
  text-align: center;
}
.books-container .search-container .search-filter .filter:hover .single-filter button {
  color: #000;
  border: none;
  outline: none;
  background: inherit;
  width: 100%;
  height: 100%;
}
.books-container .search-container .search-filter .filter:hover .enabled {
  background-color: #a9957b;
}
.books-container .more-button {
  margin: 10vh auto;
  padding: 2vh 5vw;
  display: block;
  background-color: rgba(196, 196, 196, 0.4);
  border-radius: 10px;
  color: #DAA89B;
  font-size: 1.5em;
  font-weight: bold;
}

.book-list {
  text-align: center;
  display: grid;
  align-content: space-around;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 10vw;
}
.book-list .single-book {
  height: 65vh;
  background: rgba(196, 196, 196, 0.4);
  width: 90%;
  margin: 1vh auto;
  position: relative;
}
.book-list .single-book h2 {
  height: 12vh;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book-list .single-book .poster-container {
  margin: 2vh auto;
}
.book-list .single-book .poster-container img {
  height: 34vh;
  width: 26vh;
  object-fit: contain;
}
.book-list .single-book .book-price-container {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(196, 196, 196, 0.8);
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.book-list .single-book .book-price-container .price-container, .book-list .single-book .book-price-container h3 {
  margin: 0 2vh;
}
.book-list .single-book .book-price-container h3 {
  font-size: 2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Rufina", serif;
}

body {
  background-color: #344130;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
